# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py.swp

#Ignore Venv related files
Venv/
.evn/
.local/share/jupyter/kernels/python3

#Output files
*.csv
*.png
*.coffea
*.json

#Note files not needed to be saved
Simple_CrossSec.txt
Full_CrossSecDict.txt

#Logs that are not needed
ControlPlots/Output_2018MCData/Hist_Count_*.txt

#Processor comparision files
Processor_Only_Cpy*.py

#Shell file
shell
