# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py.swp

#Ignore Venv related files
Venv/
.evn/
.local/share/jupyter/kernels/python3
ControlPlots/PlottingEnv

#Output files (Generally ignore these files)
*.csv
*.png
*.coffea
*.root 
#*.json

#Output file ignore exceptions
!ZorW_NLO_corrections.root
!pileup_*.root
!ControlPlots/Corrections/muonefficiencies/Run2/UL/2018/*
#Note files not needed to be saved
Simple_CrossSec.txt
Full_CrossSecDict.txt

#Shell file
shell
